# beanc904的推送密码等:
handbook.txt
handbook-linux.txt

# macOS:
.DS_Store

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# editor directories and files:
.vscode/
.idea/

# cpp build files:
build/
cmake-build-debug/

# rust build files:
target/

# python build files:
__pycache__/
